
@import url(http://fonts.googleapis.com/css?family=Oswald);

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans;
    font-size: 16px;

    padding: 20px;
}

main {
    width: 810px;
    margin: auto;
}

form {
    float: left;
    width: 400px;
    padding: 10px;
}

form input,
form button {
    display: block;
    padding: 10px;
    margin-bottom: 10px;

    font-family: Oswald, sans;
    font-size: 24px;

    width: 100%;
}

aside {
    float: left;
    width: 400px;
    min-height: 400px;
    margin-left: 10px;

    background: #f0f8ff;
}

aside form {
    float: none;
    margin: 5px 5px 5px 30px;
    padding: 0px;
}

aside input,
aside button {
    width: 300px;
    font: inherit;
}
