<html ng-app="ExampleApp">
    <head>
        <link rel="stylesheet" type="text/css" href="example.css" />
    </head>
    <body>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../angular-action.js"></script>

        <script src="example.js"></script>

        <main ng-controller="ExamplePage">
            <form ng-submit="startLog(); $action.invoke()" do="exampleAction($data)" then="examplePostAction($data)">
                <label parameter="someText" value="'Hello, World'" collect="">
                    <input type="text" ng-model="$actionData.value" />
                </label>
                <button type="submit" ng-disabled="$action.isPending">Submit Action</button>
            </form>
            <aside>
                <ul>
                    <li ng-repeat="item in log">
                        {{ item.message }}

                        <form ng-if="item.collectInput" ng-init="itemInput = ''" ng-submit="item.collectInput(itemInput)">
                            <input type="text" placeholder="What should it return?" ng-model="itemInput" />
                            <button type="submit">Continue</button>
                        </form>
                    </li>
                </ul>
            </aside>
        </main>
    </body>
</html>